/*################################*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Holtwood+One+SC&display=swap');/*################################*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
/*################################*/

:root {
    --background: #0B111E;
    --white: #fff;
    --black: #000;
}

*
{
    margin: 0%;
    padding: 0%;
}

body
{
}

header
{
    position: fixed;
    width: 100%;
}

.presentation
{
    background-color: var(--background);
    height: 100vh;
}

.homePage
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.punchline
{
    font-size: 7em;
    font-family: 'Bungee Outline', cursive;
    font-family: 'Holtwood One SC', serif;
    background-image: url("../img/vague.gif");
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.containerDecoDestinationsLeft {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.txt {
    white-space: nowrap;
    font-size: 10em;
    animation: scrollTxtLeft 10s linear infinite;
}

section {
    height: 100vh;
    background-color: white;
}

.titreSection {
    color: black;
    font-size: 8em;
}

.imgDeco {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 30px solid pink;
    background-color: #0B111E;
}

span
{
    font-size: 3em;
}

.carte {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin: 5em;
}

#test {
    background-color: white;
}

.sectionFixe {
    height: auto;
    border: 1px solid black;
}

@keyframes scrollTxtLeft {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
